// Custom styles.
// Post margin
.posts-expand .post-meta { margin: 3px 0 25px 0; }

// Post image margin
.posts-expand .post-body img {margin: 0 auto 0;}

// Site overview align
.site-overview { text-align: center;}